.cart-icon {
  margin-left: auto;
  margin-right: 10px;
  margin-bottom: 10px;
  float: right;
}
.header-text {
  text-align: center;
  font-weight: bold;
  font-size: 1.3;
  cursor: default;
  letter-spacing: 2px;
}
@media (min-width: 40em) {
  .header-text {
    text-align: center;
    font-weight: bold;
    font-size: 1.3;
    letter-spacing: 40px;
    cursor: default;
  }
}
.header-container {
  width: 100%;
}
.container-notNg {
  height: 10%;
  caret-color: transparent;
}
.login-button {
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: bisque;
  cursor: pointer;
}
.categories-button {
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: bisque;
  cursor: pointer;
  float: left;
}
.buttons {
  align-items: center;
  float: right;
}
.menu {
  min-height: 100px;
  min-width: 250px;
}
.table {
  width: 100%;
  height: 80%;
}
.menuFooter {
  display: flex;
  justify-content: space-between;
  width: 100% -10px;
  margin: 5px 10px;
}
.emptyCart {
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
}
