<mat-card class="box" *ngIf="product">
  <img
    (click)="openDialog()"
    class="product-image"
    alt="photo"
    src="{{ product.image }} "
  />
  <div class="title-desc-container">
    <span class="product-title"
      ><a (click)="openDialog()">{{ product.title }}</a></span
    >
  </div>
  <div class="price-icon-container">
    <span>
      {{ product.price | currency }}
    </span>
    <button (click)="onAddToCart()">
      <mat-icon>shopping_cart</mat-icon>
    </button>
  </div>
</mat-card>
