.table {
  width: 80%;
  max-width: 900px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container-notNg {
  height: 80%;
  caret-color: transparent;
}
.image {
  height: 75px;
  width: 100px;
}
